/* Copyright 2018 F.I.R.E

Author : Thomas Maurel
Version : 0.1
Date : 07/07/2019
Description: CSS for dashboard View
*/

#dashboard {
  background-color: #202029;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#longitude, #latitude {
  color: #ffffff;
  line-height: 0.8rem;
}

.map-view-image {
  border: 1px solid #82363B;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-embedded {
      position: relative;
      width: 300px;
      background-color: #2A2A36;
      border: 1px solid;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-secondary {
  padding: 0;
  width: 75%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #202029!important;
  border-color: #202029!important;
}

.pin-size {
  height: 30px;
}
