/* Copyright 2018 F.I.R.E

Author : Thomas Maurel
Version : 0.1
Date : 09/07/2019
Description: CSS for dashboard graphics view
*/


select option :hover {
    background-color: #1C1C22 !important;
    border: 1px solid #9C9C9C!important;
}

.form-control :focus {
    border: 1px solid #9C9C9C!important;
}

.form-control {
    height: 15vh;
    background-color: #1C1C22 !important;
    border: 1px solid #202029 !important;
    border-radius: 0!important;
    color: white !important;
}

.blockbutton {
    background-color: #2A2A36;
    position: fixed;
    bottom: 0;
    height: 50px;
}

.btn-img {
    background-color : #2A2A36;
    border:0;
}

.btn-img-down {
    background-color: #1C1C22;
    border:0;
}
