/* Copyright 2018 F.I.R.E

Author : Thomas Maurel
Version : 0.1
Date : 07/07/2019
Description: CSS for TutoLive with .infobulle
*/

/* a modifier */
a .infobulle{
  position: absolute;
  color:#ccc;
  text-shadow:0 -1px 0 black;
}

a span {
  position:absolute;
  margin-top:23px;
  margin-left:-35px;
  color: #fff;
  background:rgba(0,0,0,.5);
  padding:15px;
  border-radius:3px;
  box-shadow:0 0 2px rgba(0,0,0,.5);
  transform:scale(0) rotate(-12deg);
  transition:all .25s;
  opacity:0;
  width: 250px;
  z-index: 100000000;
}

a:hover .infobulle, a:focus .infobulle {
  background:rgba(0,0,0,.4);
  box-shadow:0 2px 0 rgb(32, 32, 41);
  border-radius: 32px;
}


a:hover span, a:focus span {
  transform:scale(1) rotate(0);
  opacity:1;
}
/*End of a modifier */

.infobulle {
  display: block;
  right: 15%;
  bottom: 25%;
}
