/* Copyright 2018 F.I.R.E

Author : Thomas Maurel
Version : 0.1
Date : 06/07/2019
Description: Css For the core of project
*/


#core {
  background-color: #202029;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
}


.button-img {
  position: fixed;
  z-index: 10000;
  background: 0;
  border: 0;
}

.button-disconnect {
  background: 0;
  border: 0;
}


.map-view-image {
  border: 1px solid #82363B;
  height: 450px;
}


input:focus, textarea:focus, select:focus, a:focus, button:focus {
    outline:none;
}

.logo {
  background-image: url("../Images/logo2.png");
  width: 250px;
  height: 250px;
}

.inputForm {
  background: 0;
  border: 0;
  color: white;
}

Form .btn-secondary {
  background-color: #202029!important;
  border-color: #202029!important;
}
/*
.border-line {
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
}
*/
.btn-style:hover {
  border-bottom: 1px #fff;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #82363B;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 1px #2a2a36;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #2a2a36;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 0 1px #2a2a36;
}

input:checked + .slider {
  background-color: #32BA7C;
}

input:focus + .slider {
  box-shadow: 0 0 1px #32BA7C;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
