/* Copyright 2018 F.I.R.E

Author : Thomas Maurel
Version : 0.1
Date : 15/10/2018
*/


#core {
  background-color: #202029;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
}


.map-view-image {
  border: 1px solid #82363B;
  border-radius: 5px;
  height: 450px;
}

.button-img {
  background: 0;
  border: 0;
}

input:focus, textarea:focus, select:focus, a:focus, button:focus {
    outline:none;
}

.logo {
  background-image: url("../Images/logo2.png");
  width: 250px;
  height: 250px;
}

.inputForm {
  background: 0;
  border: 0;
  color: white;
}

Form .btn-secondary {
  background-color: #202029!important;
  border-color: #202029!important;
}
/*
.border-line {
  margin: 5px;
  border: 1px solid white;
  border-radius: 5px;
}
*/
.btn-style:hover {
  border-bottom: 1px #fff;
}
