/* Copyright 2018 F.I.R.E

Author : Thomas Maurel
Version : 0.1
Date : 05/07/2019
Description: CSS for Panel-Admin
*/


#intervention {
    background-color: #202029;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;
}

.btn-danger {

    border: 1px solid #82363B;
    background-color: #82363B;
}

.btn {
    border-radius: 0!important;
}

.form-control :focus {
    border: 1px solid #9C9C9C!important;
}

.form-control {
    height: 15vh;
    background-color: #1C1C22 !important;
    border: 1px solid #202029 !important;
    color: white !important;
}

.border-bot {
    border-bottom: 1px solid #202029;
}

.no-shadow {
    box-shadow: unset!important;
    border-radius: 0!important;
}

.box-barrack {
    height: 7vh;
    background-color: #202029;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selected {
    background-color: #202029;
}

.on_off_icon {
    height: 10px;
    border-radius: 20px;
}

.pprofil {
    border-radius: 50px;
}

.rprofil {
    height: 30px;
    border-radius: 20px;
}

.iconeslist {
    height: 20px;
}

.panel-icon {
    width: 25px;
    height: 25px;
}

.blockcolor {
    background-color: #2A2A36 !important;
}

.blockmenu {
    background-color: #2A2A36;
}

.nameprofil {
    font-weight: bold;
}

.usercreate {
    background-color: #1C1C22;
    border-radius: 20px;
}

.pencil {
    margin-top: 7%;
    margin-left: 5%;
    height: 20px;
}

.map-box-intervention {
    border: 1px solid #82363B;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.map-box-inprogress {
    height: 70vh;
}

@media screen and (max-width: 1200px) {
    .col-when-mobile {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        float: center;
    }
    .margin-top-mobile {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .blockmenu {
        height: 100vh;
    }

    .itemPosition {
        position: relative;
        top: 45%;
    }

    .map-box-inprogress {
        border: 1px solid #82363B;
        height: 87.5vh;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #manageembeddedlist {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    #intervention {
        height: 96.5vh;
    }
}

/*  DRAG & DROP */
.facet-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 1.5em;
    font-size: 0.85em;
}

.facet-list li {
    margin: 2px 0 0 0;
    padding: 10px;
    font-size: 1.2em;
}

.facet-list li.placeholder {
    height: 2em
}

.facet {
    background-color: #1C1C22;
    cursor: move;
}

.facet.ui-sortable-helper {
    opacity: 0.5;
}

.placeholder {
    background-color: #202029;
}

.map-box {
    width: 100%;
    z-index: 50;
}

.bold-edition {
    font-weight: bold;
}

.underline-edition {
    text-decoration: underline;
}

/* CHECK BOX TRICKS */
.divBox {
    width: 30px;
    height: 30px;
}

.divBox label {
    display: block;
    width: 30px;
    height: 30px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 1;
    background: #1C1C22;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.divBox input[type=checkbox]:checked + label {
    background: #28a745;
}
