.blockleft {
  position: fixed;
  left: 0;
  width: 18%;
  height: 100%;
  padding: 15px 15px 80px;
  background-color: #2A2A36;
}

.blockbot {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #82363B;
  z-index: 100;
}


.blockinfo {
    margin-top: 1.5rem;
    position: relative;
    width: 80%;
    padding: 15px 15px 80px;
    background-color: #2A2A36;
}

.blockembeddedinfo {
      margin-top: 1.5rem;
      position: relative;
      width: 50%;
      padding: 15px 15px 80px;
      background-color: #2A2A36;
}

.blocklistuser {
    position: absolute;
    width: 28%;
    right: 20%;
    top:0;
}

.manageuserembeded, .manageuserlist {
  margin-top: 1.5rem;
  padding: 0px 0px 80px;
  background-color: #2A2A36;
  max-height: 360px;
}

.blockembeddeduser, .blockmanageuser, .blockembedded {
    padding: 0px 0px 80px;
    background-color: #2A2A36;
    max-height: 360px;
    overflow-y: overlay;
    overflow-x: hidden;
    white-space: nowrap;
}

.blockname_pprofil {
  width: 300px;
}

.on_off_icon {
  height: 10px;
  border-radius: 20px;
}

.nameprofil {
  font-weight:bold;
}

.usercreate {
  background-color: #1C1C22;
  border-radius: 20px;
}

.pencil {
  margin-top: 7%;
  margin-left: 5%;
  height: 20px;
}

.iconeslist {
  height: 20px;
}

.blockleft a {
  color: white!important;
}

.blockleft a:hover, img:hover {
  font-size: 1.1rem;
  text-decoration: none;
}


.blockposition {
  margin-top: auto;
  margin-bottom: auto
}

.blocklistcontent  {
  width: 80%;
}

.blockcontent {
  position: fixed;
  left: 20%;
  width: 98%
}

.pprofil {
  border-radius: 50px;
}

.rprofil {
  height: 30px;
  border-radius: 20px;
}

.selected {
  background-color: #202029;
}

.itemPosition {
  position: relative;
  top: 50%;
}

#manageuser a, #manageembedded a, #createuser a {
  margin: 3%;
}


/*  DRAG & DROP */
p {
  clear: both;
  padding-top: 1em;
}

.facet-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  min-height: 1.5em;
  font-size: 0.85em;
}
.facet-list li {
  margin: 2px 0 0 0;
  padding: 10px;
  font-size: 1.2em;
}
.facet-list li.placeholder {
  height: 2em
}
.facet {
  background-color: #1C1C22;
  cursor: move;
}
.facet.ui-sortable-helper {
  opacity: 0.5;
}

.placeholder {
  background-color: #202029;

}

.map-box {
    width: 100%;
    z-index: 50;
}

/*****************************/
@media screen and (max-width: 992px) {
  .blocklistcontent  {
    width: 100%;
  }

  .blockcontent {
    left: 0;
    position: unset;
    width: 100%
  }

  .blockinfo {
      margin-left: 1%;
      margin-top: 1.5rem;
      width: 98%;
      padding: 15px 15px 80px;
      background-color: #2A2A36;
  }

  .itemPosition {
    position: relative;
    top: 50%;
  }

  .input-small {
      width: 50%;
  }

  .blocklistuser {
    margin-left: 1%!important;
    margin-right: 1%!important;
    position: absolute;
    width: 98%;
    right: 0;
  }

  .manageuserembeded, .manageuserlist {
    margin-top: 1.5rem;
    padding: 0px 0px 80px;
    background-color: #2A2A36;
    max-height: 360px;

  }


  .blockembeddedinfo {
    margin-left: 1%;
    margin-top: 1.5rem;
    position: relative;
    width: 98%;
    padding: 15px 15px 80px;
    background-color: #2A2A36;
  }

  .blockembeddeduser, .blockmanageuser, .blockembedded {
    padding: 0px 0px 80px;
    background-color: #2A2A36;
    max-height: 360px;
    overflow-y: overlay;
    overflow-x: hidden;
    white-space: nowrap;
    margin-left: 1%!important;
    margin-right: 1%!important;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #32BA7C;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #2a2a36;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #82363B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #82363B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
