.blockleft {
  position: fixed;
  margin: auto;
  left: 0;
  width: 320px;
  height: 100%;
  padding: 15px 15px 80px;
  background-color: #2A2A36;
}

.carousel {
  position: unset!important;
}

.blockinfo {
    position: relative;
    margin: auto;
    width: 1495px;
    height: 100%;
    padding: 15px 15px 80px;
    background-color: #2A2A36;
}

.blockembeddeduser {
    top: 50%;
    position: fixed;
    width: 380px;
    height: 50%;
    padding: 15px 15px 80px;
    background-color: #2A2A36;
}

.blockembedded {
    top: 50%;
    position: fixed;
    left: 800px;
    width: 380px;
    height: 50%;
    padding: 15px 15px 80px;
    background-color: #2A2A36;
}

.blockmanageuser {
    top: 50%;
    position: fixed;
    left: 1200px;
    width: 350px;
    height: 50%;
    padding: 15px 15px 80px;
    background-color: #2A2A36;
}

.blockname_pprofil {
  width: 300px;
}

.on_off_icon {
  margin-top: 9%;
  height: 10px;
  border-radius: 20px;
}

.nameprofil {
  font-weight:bold;
}

.pencil {
  margin-top: 7%;
  margin-left: 5%;
  height: 20px;
}

.blockleft a {
  color: white!important;
}

.blockleft a:hover, img:hover {
  font-size: 1.1rem;
  text-decoration: none;
}

#manageusercontent {
  position: relative;
  left: 2%;
}


.blockposition {
  margin-top: auto;
  margin-bottom: auto
}

.blockcontent {
  position: fixed;
  left: 320px;
}

.pprofil {
  border-radius: 50px;
}

.selected {
  background-color: #202029;
}

.showcontent {
  display: block;
}

.unshowcontent {
  display: none;
}

.itemPosition {
  position: relative;
  top: 50%;
}

#manageuser a, #manageembedded a {
  margin: 3%;
}
