/* Copyright 2018 F.I.R.E

Author : Thomas Maurel
Version : 0.1
Date : 05/07/2019
Description: CSS for Panel-Admin
*/

#team_container, #bus_container, #user_container {
    overflow-y: visible;
    overflow-x: auto;
    white-space: nowrap;
    vertical-align: text-top;
    padding: 0;
    width: 100%;
    clear: both;
    border-spacing: 5px;
}

.btn {
    border-radius: 0!important;
}

.intro-section {
    display: table-cell;
}

.no-shadow {
    box-shadow: unset!important;
    border-radius: 0!important;
}

.box-barrack {
    height: 7vh;
    background-color: #202029;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-color {
    background-color: #202029;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selected {
    background-color: #202029;
}

.on_off_icon {
    height: 10px;
    border-radius: 20px;
}

.pprofil {
    border-radius: 50px;
}

.rprofil {
    height: 30px;
    border-radius: 20px;
}

.iconeslist {
    height: 20px;
}

.panel-icon {
    width: 25px;
    height: 25px;
}

.blockcolor {
    background-color: #2A2A36;
}

.blockmenu {
    background-color: #2A2A36;
}

.nameprofil {
    font-weight: bold;
}

.usercreate {
    background-color: #1C1C22;
    border-radius: 20px;
}

.pencil {
    margin-top: 7%;
    margin-left: 5%;
    height: 20px;
}

.map-box-barrack {
    border: 1px solid #82363B;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1200px) {
    .col-when-mobile {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        float: center;
    }
    .margin-top-mobile {
        margin-top: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .blockmenu {
        height: 100vh;
    }

    #manageembeddedlist {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .itemPosition {
        position: relative;
        top: 45%;
    }
}

/*  DRAG & DROP */
.facet-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 1.5em;
    font-size: 0.85em;
}

.facet-list li {
    margin: 2px 0 0 0;
    padding: 10px;
    font-size: 1.2em;
}

.facet-list li.placeholder {
    height: 2em
}

.facet {
    background-color: #1C1C22;
    cursor: move;
}

.facet.ui-sortable-helper {
    opacity: 0.5;
}

.placeholder {
    background-color: #202029;
}

.map-box {
    width: 100%;
    z-index: 50;
}

.bold-edition {
    font-weight: bold;
}

.underline-edition {
    text-decoration: underline;
}
