/* Copyright 2018 F.I.R.E

Author : Nicolas FELTEN
Version : 0.1
Date : 3/12/2018
*/

div.my-icon-container {
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 15px;
  border-radius: 200px;
  background-color: #202029;
  box-shadow: 0px 8px 30px black;
}

.toolbar-img {
  width: 75%;
  height: 75%;
}
